.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 20px;
    font-size: 30px;
}

.mainvisual {
    width: 100%;
}







